{% extends 'base.html.twig' %}

{% block title %}Mon Compte
{% endblock %}

{% block body %}
	<section class="py-7 py-md-9  mb-8 border-bottom border-gray-300">
		<div
			class="container">

			<!-- / .row -->
			<div class="row">
				<div class="col-12 border-end border-gray-300">

					<h1>Modifier mon mot de passe</h1>

					<a href="{{path('account')}} ">Retourner à mon compte</a>
					<hr>
					{% if notification %}
						<div class="alert alert-info">{{notification}}</div>
					{% endif %}
					{{form(form)}}
						<hr>

					</div>
				</div>
			</div>
		</section><!-- SHAPE --><div class="position-relative">
			<div class="shape shape-bottom shape-fluid-x text-dark">
				<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
			</div>
		</div>
	{% endblock %}
