<!-- LOCATION -->

<section class=" bg-gray-300">

	<div class="container">
		<div class="row">


			<div
				class="col-12 col-md-6" data-aos='fade-right'>

				<!-- Map (mobile) -->
				<div class="ratio ratio-1x1 d-md-none">
					<div data-map=''>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2698.317649407952!2d-0.5039089492049511!3d47.444747179072024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4807d7e33c929cb5%3A0xf7c6c57c36a231b9!2zMjMxIFJ1ZSBKZWFuIEphdXLDqHMsIDQ5ODAwIFRyw6lsYXrDqQ!5e0!3m2!1sfr!2sfr!4v1629304252162!5m2!1sfr!2sfr" width="100%" height="82%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>


				</div>

				<!-- Map -->
				<div
					class="position-relative h-100 vw-50 float-end d-none d-md-block">

					<!-- Map -->
					<div class="h-100 w-100" data-map=''>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2698.317649407952!2d-0.5039089492049511!3d47.444747179072024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4807d7e33c929cb5%3A0xf7c6c57c36a231b9!2zMjMxIFJ1ZSBKZWFuIEphdXLDqHMsIDQ5ODAwIFRyw6lsYXrDqQ!5e0!3m2!1sfr!2sfr!4v1629304252162!5m2!1sfr!2sfr" width="100%" height="83%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>


				</div>

			</div>

			<div
				class="col-12 col-md-6 col-lg-5 offset-lg-1 mt-10 pb-14" data-aos='fade-left'>


				<!-- Heading -->
				<h3 class=" mb-4">

					Horaires<br>

				</h3>


				<!-- Stats -->
				<div class="d-flex">
					<div class="pe-5">
						<h5 class="text-success mb-4">
							Jour
						</h5>
						<p class="text-gray-700 mb-2">
							Lundi
						</p>
						<p class="text-gray-700 mb-2">

							Mardi
						</p>

						<p class="text-gray-700 mb-2">

							Mercredi
						</p>

						<p class="text-gray-700 mb-2">

							Jeudi
						</p>

						<p class="text-gray-700 mb-2">

							Vendredi
						</p>

						<p class="text-gray-700 mb-2">
							Samedi
						</p>

					</div>
					<div class="border-start border-gray-300"></div>
					<div class="px-5">
						<h5 class="text-success mb-4">
							Matin
						</h5>

						<p class="text-gray-700 mb-2">
							9h30 - 12h
						</p>
						<p class="text-gray-700 mb-2">
							9h30 - 12h
						</p>

						<p class="text-gray-700 mb-2">
							9h30 - 12h
						</p>

						<p class="text-gray-700 mb-2">
							9h30 - 12h
						</p>
						<p class="text-gray-700 mb-2">
							9h00 - 12h
						</p>

						<p class="text-gray-700 mb-2">
							9h30 - 12h
						</p>


					</div>
					<div class="border-start border-gray-300"></div>
					<div class="ps-5">
						<h5 class="text-success mb-4">
							Apré midi
						</h5>

						<p class="text-gray-700 mb-2">
							14h15 - 18h
						</p>
						<p class="text-gray-700 mb-2">
							14h15 - 18h
						</p>

						<p class="text-gray-700 mb-2">
							14h15 - 18h
						</p>

						<p class="text-gray-700 mb-2">
							14h15 - 18h
						</p>
						<p class="text-gray-700 mb-2">
							15h - 18h
						</p>
						<p class="text-gray-700 mb-2">
							Fermé
						</p>


					</div>
				</div>
			</div>


		</div>
		<!-- / .row -->

	</div><!-- / .container --></section>
