<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div
		class="container">

		<!-- Brand -->
		<a class="navbar-brand" href="/">
			<img src="./images/logo.png" class="navbar-brand-img" alt="...">
		</a>

		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div
			class="collapse navbar-collapse" id="navbarCollapse">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fe fe-x"></i>
			</button>

			<!-- Navigation -->
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="/" aria-haspopup="true" aria-expanded="false">
						Accueil
					</a>

				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
						Services
					</a>
					<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
						<div class="row gx-0">
							<div class="col-6">
								<div class="row gx-0">
									<div
										class="col-12 col-lg-6">

										<!-- Heading -->
										<h6 class="dropdown-header">
											Informatique
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="/category/nouveautes">
											Nouveautés
										</a>
										<a class="dropdown-item" href="/category/formules-professionnelles">

											Formules professionnelles
										</a>
										<a class="dropdown-item" href="/category/offres-particuliers">


											Offres particuliers
										</a>
										<a class="dropdown-item mb-5" href="/category/ventes-materielsd">

											Ventes matériel
										</a>


										<!-- Heading -->
										<h6 class="dropdown-header">
											Téléphonie et services
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="./blog.html">
											Réparation GSM et PDA
										</a>
										<a class="dropdown-item" href="./blog-post.html">
											Téléphonie et accessoires
										</a>
										<a class="dropdown-item" href="./blog-showcase.html">
											Abonnements
										</a>


									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="row gx-0">
									<div
										class="col-12 col-lg-6">

										<!-- Heading -->
										<h6 class="dropdown-header">
											Electronique
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="./help-center.html">
											Réparation Eléctronique
										</a>
										<a class="dropdown-item mb-5" href="./help-center-article.html">
											Installation Domotique
										</a>


									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- / .row -->
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="/" aria-haspopup="true" aria-expanded="false">
						Contact
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarLandings" href="{{path('account')}}">

						Mon Compte
					</a>
				</li>


			</ul>

			<!-- Button -->
			<!-- Button -->
			{% if app.user %}

				<a href="{{path('app_logout')}}">Déconnexion</a>
			{% else %}
				<a href="{{path('app_login')}}">Connexion</a>
				|
				<a href="{{path('register')}}">Inscription</a>
			{% endif %}


		</div>

	</div>
</nav>
