{% extends 'base.html.twig' %}

{% block title %}Déclarer un incident
{% endblock %}

{% block body %}


	<!-- INFO -->
	<section class="py-7 py-md-9 border-bottom border-gray-300" id="info">
		<div
			class="container">

			<!-- / .row -->
			<div class="row">
				<div
					class="col-12 col-md-4 text-center border-end border-gray-300">

					<!-- Heading -->
					<h6 class="text-uppercase text-gray-700 mb-1">
						Déclarer un incident
					</h6>

					<!-- Link -->
					<div class="mb-5 mb-md-0">
						<a href="{{path('incident')}}" class="h4 text-primary">

							Incident
						</a>
					</div>

				</div>
				<div
					class="col-12 col-md-4 text-center border-end border-gray-300">

					<!-- Heading -->
					<h6 class="text-uppercase text-gray-700 mb-1">
						Téléphone
					</h6>

					<!-- Link -->
					<div class="mb-5 mb-md-0">
						<a href="#!" class="h4">
							+(33) 02.41.76.10.37

						</a>
					</div>

				</div>
				<div
					class="col-12 col-md-4 text-center">

					<!-- Heading -->
					<h6 class="text-uppercase text-gray-700 mb-1">
						Email
					</h6>

					<!-- Link -->
					<a href="#!" class="h4">
						contact@rescuenow.fr

					</a>

				</div>
			</div>
			<!-- / .row -->
		</div>
	</section>

	<!-- FORM -->
	<section class="pt-8 pt-md-11 pb-8 pb-md-14">
		<div class="container">
			<div class="row justify-content-center">
				<div
					class="col-12 col-md-10 col-lg-8 text-center">


					<!-- Text -->
					<p class="fs-lg text-muted mb-7 mb-md-9">Déclarer un incident à notre équipe technique</p>
					<!-- Divider -->
					<hr class="hr-sm my-6 my-md-8 mx-auto bg-gray-300">


					{% for message in app.flashes('message') %}
						<div class="alert alert-success">{{message}}</div>
					{% endfor %}


				</div>
			</div>
			<!-- / .row -->
			<div class="row justify-content-center">
				<div
					class="col-12 col-md-12 col-lg-10">

					<!-- Form -->
					{{form(form)}}


					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</section>

		<!-- SHAPE -->
		<div class="position-relative">
			<div class="shape shape-bottom shape-fluid-x text-dark">
				<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
			</div>
		</div>
	{% endblock %}
