{% extends "base.html.twig" %}
{% block title %}
	Section Informatique
{% endblock %}
{% block body %}
	<h1 class="mt-5 mb-4">Service disponibles:
	</h1>
	<div class="row">
		{% for article in articles %}
			<div class="col-md-4 mb-2 mt-2">
				<div class="card" style="width: 18rem;">

					<div class="card-body">
						<h5 class="card-title">{{article.title}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{article.createdAt|format_datetime()}}</h6>
						<p class="card-text">{{article.description}}

						</p>
						<a class="btn btn-secondary" href="{{path('article.show', {'id':article.id})}}">Suite ...</a>

					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
